.modal {
    position: fixed;
    width: 90%;
    max-width: 45rem;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.modal_header {
    border-bottom: 2px solid #3b0062;
    padding: 1rem;
}

.modal_header h1 {
    font-size: 1.5rem;
    color: #3b0062;
    margin: 0;
}

.modal_content {
    padding: 1rem;
}

.modal_actions {
    padding: 1rem;
    text-align: right;
}

.modal_actions button {
    margin: 0 0.5rem;
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}